.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  color: white;
  background-color: black;
  width: 100%;
  position: absolute;
  top: 0;
}

.ssResult {
  background-color: rgb(5, 44, 5);
  color: white;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  font-size: 20px;

}

.sssResult {
  background-color: rgb(5, 44, 5);
  color: white;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  font-size: 20px;
  text-align: left;
  padding: 10px;

}

.ssContainer {
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, auto);
  margin: 0 auto;
  text-align: center;
}
a:visited {
  text-decoration: none;
  color: white;
}

a:link {
  text-decoration: none;
  color: white;
}

.spaceBet {
  width: 100%;
  height: 100px;
}
